@media only screen and (max-width: 800px) {
    *{
        margin: 0px;
    }
    }
    section{
        padding: 50px 0px;
    }

    a{
        text-decoration: none;
    }

    li{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .body{
        max-width:667px;
        height: auto;
    }
    
    div{
        justify-content: space-around;
    }
    img{
        display: inline-block;
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav,.header-right{
        display: none;
    }
    header{
        position: fixed;
        background-color: #ffffff;
        width: 100%;
        z-index: 100;
       top: 0;
       height: 60px;
    }
    header img{
        max-width: 150px;
    }
    .left a{
        text-decoration: none;
        border-radius: 10px;
        background-color: #f53838;
        color: #ffffff;
        padding: 15px 70px;
        margin-top: 50px;
        box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
    }
    .section1 .left .left-btn{
        margin-top: 50px;
        text-align: center;
    }
    .left a:hover{
        background-color: #0b132a;;
        color: #ffffff;
        box-shadow: 0 20px 40px rgb(11 19 42 / 35%);
    }
    .section2{
        padding:50px 0px;
    }
    .section2 div{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        text-align: right;
    }
    .section2 img{
        max-width: 50px;
    }
    
    .section3{
        padding-top: 0px;
    }
    .section3 .container{
        flex-direction: column;
    }
    .section3 li{
        margin-bottom: 20px;
    }
    .section-title{
        margin: 20px 0px;
    }
    .section-subtitle{
        line-height: 30px;
    }
    .section4 .plan{
        text-align: center;
        
        border-radius: 5px;
        border: 2px solid #dddddddd;
        padding: 80px 20px;
        margin-bottom: 20px;
    }
    .section4 .plan li{
        list-style: none;
        margin: 20px;
        text-align: justify;
    }
    .section4 .plan .plan-features ul li::before{
        content: url(images/tick.svg);
        margin-right: 25px;
    }
    .plan h3,h4{
        margin: 30px 0px;
    }
    
    .section4 .plan-bottom{
        display: flex;
        flex-direction: column;
    }
    
    
    .section4 .plan-bottom a{
        text-decoration: none;
    }
    
    
    .section4 .plan-btn{
       margin-left: 80px;
        margin-top: 10px;
        border-radius: 100px;
        border: 2px solid #f53838;
        color: #f53838;
        padding: 12px 40px;
        width: 80px;
       
    }
    
    
    .section4 .plan-btn:hover{
        color: #f8f8f8;
        background-color: #f53838;
    }

    .section4 img{
        max-width: 200px;
    }

    footer .container{
        flex-direction: column;
    }
    footer img{
        max-width: 150px;
    }

    footer .container{
        flex-direction: column;
    }
    .social-icon img{
        max-width: 80px;
    }
    .subscribe{
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        display: flex;
        align-items: center;
        padding: 60px 70px;
        border-radius: 10px;
        position: relative;
        top: 120px;
        background-color: #fff;
        box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
    }
    footer{
        background-color: #f8f8f8;
        padding-top: 190px;
        padding-bottom: 50px;
    }
    #section7 .container{
        flex-direction: column;
    }
    .sub-btn{
        border-radius: 10px;
        padding: 21px 77px;
        text-align: center;
        background-color: #f53838;
        color: #ffffff;
        text-decoration: none;
        box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
    }
    .subscribe-right{
        margin-top: 30px;
    }
    .sub-btn:hover{
        box-shadow: 0 20px 40px rgb(11 19 42 / 35%);
        background-color: #0b132a;
    }
    
    .section5 .sponsored{
        display: flex;
        justify-content: space-between;
    }

    
    .sponsor img:hover{
        filter: brightness(10%);
    }
    .subscribe{
        display: flex;
        flex-direction: column;
    }
    .social-icons{
        display: flex;
        flex-direction: column;
    }
    footer ul li a{
        text-decoration: none;
        color:  #4f5665;
     
    }
    
    
     footer ul li{
         list-style: none;
         display: list-item;
    }
    footer ul{
        padding-left: 0px;
    }

    footer ul a:hover {
        text-decoration: underline;
    }
}   
