*{
    margin: 0px;
}


.body{
    max-width: 1440px;
    height: auto;
}


div{
    justify-content: space-around;
}


.container{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 120px;
}


header{
    padding: 20px 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
}


.nav ul li{
    float: left;
    list-style: none;
}


.nav ul li a{
    text-decoration: none;
    padding-right: 20px;
    color:  #4f5665;;
}


.header-right a{
    text-decoration: none;
    color:  #4f5665;
}


.header-right .sign-in-btn{
    margin-right: 50px;
    font-weight: bold;

}


.header-right .sign-out-btn {
    border-radius: 1000px;
    border: 1px solid #f53838;
    color: #f53838;
    padding: 10px 30px;
    font-weight: bold;
}


.header-right .sign-out-btn:hover {
    background-color: #f53838;
    color: #ffffff;
}


.section1{
    padding-top: 100px;
}


.section1 .left{
    width: 550px;
}


.section1 .left .left-btn{
    margin-top: 50px;
}


.section1 .right{
    width: 550px;
}


.left a{
    text-decoration: none;
    border-radius: 10px;
    background-color: #f53838;
    color: #ffffff;
    padding: 15px 70px;
    margin-top: 50px;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
}


.left a:hover{
    background-color: #0b132a;;
    color: #ffffff;
    background-color: #0b132a;
}


.section2{
    padding:50px 0px;
}


.section2 .container{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 15px 50px #fbfbfb;
}


.section2 div{
    display: flex;

}


.section2 .content{
    padding-left: 20px;
    text-align: right;
    font-size: large;
}


.section3{
    padding: 50px 0px;
}


.section3 .left{
    width: 550px;
}


.section3.right{
    width: 550px;
    margin-left: 100px;
}


.section3 .right li{
    list-style: none;
}


.section4{
    background-color: #fbfbfb;
}


.section4 .heading{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}


.section4 .plan{
    text-align: center;
    border-radius: 5px;
    border: 2px solid #dddddddd;
    padding: 80px 20px;
}


.section4 .plan li{
    list-style: none;
    margin: 20px;
    text-align: justify;
}

.section4 .plan .plan-features ul li::before{
    content: url(images/tick.svg);
    margin-right: 25px;
}

.plan h3,h4{
    margin: 30px 0px;
}

.section4 .plan-bottom{
    display: flex;
    flex-direction: column;
}


.section4 .plan-bottom a{
    text-decoration: none;
}


.section4 .plan-btn{
    text-align: center ;
    margin-top: 10px;
    border-radius: 100px;
    border: 2px solid #f53838;
    color: #f53838;
    padding: 12px 40px;
    width: 80px;
    margin-left: 60px;
}


.section4 .plan-btn:hover{
    color: #f8f8f8;
    background-color: #f53838;
}


.section5{
    padding: 50px 0px;
    text-align: center;
}


#sec5-head{
    padding-bottom: 50px;
}


#sponsored{
    margin-top: 50px;
}


.section5 .sponsored{
    display: flex;
    justify-content: space-between;
}


.sponsor img:hover{
    filter: brightness(10%);
}


#s1 ,#s2,#s4,#s5{
    margin-top: 40px;
}


#s4,#s5{
    margin-top: 60px;
}


#s2{
    margin-left: 25px;
    margin-top: 70px;
}


footer{
    background-color: #f8f8f8;
    padding-top: 190px;
    padding-bottom: 50px;
}


footer .f-1{
    width: 340px;
    margin-right: 230px;
}


footer ul li a{
    text-decoration: none;
    color:  #4f5665;
 
}


 footer ul li{
     list-style: none;
     display: list-item;
     margin-bottom: 20px;
}


 ul, li {
    margin: 0;
    padding: 0;
}

footer ul a:hover {
    text-decoration: underline;
}

footer .social-icons{
    margin: 30px 0px;
    margin-right: 20px;
    margin-bottom: unset;
}
footer .social-icons a{
    text-decoration: none;
    color: #4f5665;
    display: inline-block;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}


.subscribe{
    width: 960px;
    justify-content: space-between;
    display: flex;
    flex-direction: unset;
    display: flex;
    align-items: center;
    padding: 60px 70px;
    border-radius: 10px;
    position: relative;
    top: 120px;
    background-color: #fff;
    box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
}

#section7{
    padding-left: 20px;
    padding-right: 20px;
}
.subscribe-left {
    max-width: 370px;
}


.sub-btn{
    border-radius: 10px;
    padding: 21px 77px;
    text-align: center;
    background-color: #f53838;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
}

.sub-btn:hover{
    box-shadow: 0 20px 40px rgb(11 19 42 / 35%);
    background-color: #0b132a;
}
